# **MÓDULO 24 - Bancos de Dados + SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [54]:
import os
os.listdir()

['.config',
 'TB_VENDAS_TAREFA.csv',
 'TB_VENDAS_TAREFA (1).csv',
 'TB_VENDAS_TAREFA (2).csv',
 'sample_data']

In [55]:
import sqlite3

In [56]:
from google.colab import files
files.upload()

Saving TB_VENDAS_TAREFA.csv to TB_VENDAS_TAREFA (3).csv

{'TB_VENDAS_TAREFA (3).csv': b'ID_COMPRA;ID_CLIENTE;PRODUTO;VALOR_UNID;UNIDADES\r\n1247;9081;CAMISETA;34,5;2\r\n1248;9081;CALCA;89,9;1\r\n1250;9560;CAMISETA;34,5;1\r\n1249;9630;BERMUDA;79,5;2\r\n1251;9425;CAMISETA;34,5;3\r\n1252;9425;VESTIDO;102;1\r\n1253;9481;CALCA;89,9;2\r\n1254;9785;MEIA;25,9;1\r\n1255;9786;CALCA;89,9;2\r\n1256;9787;VESTIDO;102;1\r\n1257;9788;CALCA;89,9;2\r\n1258;9789;CAMISETA;34,5;3\r\n1259;9790;CAMISETA;34,5;1\r\n1260;9791;BERMUDA;79,5;2\r\n1261;9792;CAMISETA;34,5;2\r\n1262;9793;CALCA;89,9;2\r\n1263;9794;CALCA;89,9;1\r\n1264;9795;BERMUDA;79,5;2\r\n1265;9796;CAMISETA;34,5;4\r\n1266;9797;CAMISETA;34,5;1\r\n1267;9798;VESTIDO;102;2\r\n1268;9799;MEIA;25,9;3\r\n1269;9800;CAMISETA;34,5;2\r\n1270;9801;CALCA;89,9;1\r\n'}

In [57]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [58]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [59]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [60]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne todos os dados da nossa tabela de vendas, com todas linhas e todas colunas.

In [61]:
query = "SELECT * FROM tb_vendas"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

# 2) Faça uma consulta que retorne apenas 10 linhas da coluna produto.

In [62]:
query = "SELECT * FROM tb_vendas LIMIT 11"

result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2

# 3) Faça uma consulta que retorne a média do valor por unidade e também das unidades vendidas. Não se esqueça de renomear o nome das colunas ao cria-las.

In [69]:
query = """
SELECT
    AVG("VALOR UNID") AS media_valor_col_unid,
    AVG("UNIDADES") AS media_col_unidades
FROM tb_vendas """

result_df = run_query(query)
print(result_df)

   media_valor_col_unid  media_col_unidades
0                   0.0            1.833333

In [70]:
df_vendas = df_vendas.rename(columns={
    "VALOR UNID": "valor_unid",
    "UNIDADES": "unidades"
})

result_df = run_query(query)
print(result_df)

   media_valor_col_unid  media_col_unidades
0                   0.0            1.833333

# 4) Note que na nossa tabela não temos o total de valor gasto por compra, temos o valor do produto e a quantidade vendida, para termos o valor total precisamos multiplicar essas duas colunas e para multiplicar colunas usamos o *.
# Faça uma consulta que retorne a coluna ID_COMPRA, ID_CLIENTE e o valor total gasto.

Ex: SELECT TICKET_MEDIO*UNIDADE FROM TB_EXEMPLO

In [105]:
query = """
SELECT
    ID_COMPRA,
    ID_CLIENTE,
    SUM(CAST("VALOR UNID" AS REAL) * CAST("UNIDADES" AS INTEGER)) AS valor_total_gasto
FROM tb_vendas
GROUP BY ID_COMPRA, ID_CLIENTE
LIMIT 11
"""

result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE  valor_total_gasto
0        1247        9081                0.0
1        1248        9081                0.0
2        1249        9630                0.0
3        1250        9560                0.0
4        1251        9425                0.0
5        1252        9425                0.0
6        1253        9481                0.0
7        1254        9785                0.0
8        1255        9786                0.0
9        1256        9787                0.0
10       1257        9788                0.0

In [85]:
df_vendas.dtypes

ID_COMPRA      int64
ID_CLIENTE     int64
PRODUTO       object
VALOR_UNID    object
unidades       int64
dtype: object

# 5) [DESAFIO] Faça uma consulta que traz a média do valor total gasto que foi calculado no exercício anterior. Note que não queremos a média por pedido e sim a média total, apenas essa informação deve vir na consulta.

In [107]:
query = """SELECT
    AVG(CAST("VALOR UNID" AS REAL) * CAST("UNIDADES" AS INTEGER)) AS media_total_gasto
FROM tb_vendas
"""

result_df = run_query(query)
# Exibir o resultado
print(result_df)

   media_total_gasto
0                0.0

# 6) Diferencie com suas palavras, considerando o repertório que tem criado da área de dados, a utilizadade do SQL e do Python para ciência de dados.
Minimo 2 linhas.

In [ ]:
SQL é utilizado para extrair, filtrar e agregar dados diretamente em bancos de dados, sendo essencial para obter informações estruturadas de forma eficiente.

Python é usado após a extração para tratar, analisar, visualizar dados e aplicar métodos estatísticos ou de machine learning.

Na ciência de dados, SQL prepara os dados e Python aprofunda a análise, juntos formando um fluxo completo de trabalho.

#7) Diferencie com suas palavras banco de dados relacionais de não relacionais.
Minimo 3 linhas.

In [ ]:
Bancos relacionais usam tabelas, esquema fixo e SQL, priorizando integridade e consistência.
Bancos não relacionais usam estruturas flexíveis, não exigem esquema e escalam melhor grandes volumes de dados.

Bancos relacionais utilizam chaves primárias e estrangeiras para garantir relacionamento e integridade entre tabelas.
Bancos não relacionais geralmente não usam chaves estrangeiras, priorizando flexibilidade e escalabilidade dos dados.

#8) Queremos saber da sua opinião, acredita que o SQL pode ser mais prático que o Python para consultas rápidas? Justifique.
Muitas vezes durante a carreia você terá que escolher qual linguagem utilizar para cada momento afim de entregar o que é solicitado o mais rápido e com qualidade possível, exercite sua argumentação = )

Minimo 3 linhas.

In [ ]:
Acredito que o SQL é mais prático que Python para consultas rápidas. Pois executa filtros, agregações e cálculos diretamente no banco de dados, com menos código e maior eficiência.
Python é mais indicado quando a análise exige tratamento complexo, estatística ou modelagem após a extração dos dados.